/*HEADER*/
.header {
  height: 100vh;
  padding: $m1;
  position: fixed;
  width: $headerwidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.header--darken {
    background-color: darken($black, 10%);
  }

  .header__li {
    margin: $m1 0 $m1 0;
    text-align: center;
    font-size: $s0;

    &.header__li--first {
      align-items: center;
      display: flex;
      font-size: $s4;
      height: 52px;
      justify-content: center;
      margin: 0 0 $m4 0;

      span:last-child {
        display: none;
        font-size: $s0;
      }

      &:hover span:first-child {
        display: none;
      }

      &:hover span:last-child {
        display: block;
      }
    }

    .header__img{
      width: 100%;
    }
  }
}

/*main*/
.main {
  background-color: $black;
  margin-left: $headerwidth;
  padding: $m4 $m1 $m1 $m3;

  .main__section {
    margin: $m4;
  }
}

/*individual elements*/
.squared {
  border: solid 1px transparent;
  padding: $m1 $m0;
  position: relative;

  &::before, &::after {
    box-sizing: border-box;
    content: '';
    height: 10px;
    position: absolute;
    width: 10px;
    border: solid 1px $white;
    transition: all .25s ease-in-out;
  }

  &::before {
    border-bottom: none;
    border-right: none;
    left: 0;
    top: 0;
  }

  &::after {
    border-left: none;
    border-top: none;
    bottom: 0;
    right: 0;
  }

  &:hover, &:hover>* {
    color: $yellow;
    cursor: pointer;
  }

  &:hover::before, &:hover::after {
    border-color: $yellow;
    height: 100%;
    width: 100%;
  }
}
