/*HEADER*/
.header {
  height: 100vh;
  padding: $m1;
  position: fixed;
  width: $headerwidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  &.header--darken {
    background-color: darken($black, 10%);
  }

  .header__li {
    margin: $m1 0 $m1 0;
    text-align: center;
    font-size: $s0;

    &.header__li--first {
      align-items: center;
      display: flex;
      font-size: $s4;
      height: 52px;
      justify-content: center;
      margin: 0 0 $m4 0;

      .header__img {
        height: 28px;
      }
    }

    .header__li--last {
      font-weight: bolder;
      font-size: $s1;
    }

    a {
      padding: $m1 0;
    }

    //.header__a {
    //
    //}
  }
}

/*main*/
.main {
  background-color: $black;
  margin-left: $headerwidth;
  padding: $m4 $m4 $m1 $m1;
  position: relative;
  min-height: 90vh;

  .main__section {
    margin: $m4;

    &.main__section--last {
      font-size: $s0;
      position: absolute;
      margin-bottom: 0;
      bottom: 20px;

      a {
        display: inline;
      }
    }

    &.main__section--download {
      a {
        display: inline;
        border: solid 2px $white;
        padding: $m2 $m3;
        transition: all 0.25s ease-in-out;

        &:hover {
          border-color: $yellow;
          color: $yellow;
        }
      }
    }
  }

  .main__content {
    position: relative;
    margin-bottom: $m4;
    height: 100%;

    #bar {
      position: absolute;
      height: 100%;
      margin-left: calc(#{$m4} - 2px);
      width: 2px;
      background: lighten($black, 10%);
    }

    .main__section {
      margin: 0 $m4 $m4 $m4;

      & > * {
        margin: $m1 0 0 0;
      }

      h2 {
        font-size: $s3;
        margin-top: calc(#{$m1} - 5px);

        &.max_title {
          font-size: clamp(#{$s3}, 6vw, 5rem);
          font-weight: 900;
          position: relative;
          z-index: 1;

          span {
            position: absolute;
            z-index: -1;
            color: white;
            font-size: clamp(#{$s3}, 6vw, 5rem);
            left: 3px;
            top: 0;
            animation: max_top 1.3s infinite linear alternate;
          }
        }
      }

      h3 {
        font-size: $s0;
      }

      p {
        line-height: 1.4rem;
      }

      a {
        display: inline;

        & > h3 {
          display: inline;
        }
      }


      &.main__section--cv {
        margin-top: $m2;
        margin-bottom: $m2;

        & > * {
          margin: $m1 0 0 $m1;
        }

        .time {
          color: lighten($black, 30%);
          position: relative;
          z-index: 1;
          margin: 0 0 0 -24px;
          background: $black;
          padding: $m0;

          & > * {
            color: lighten($black, 30%);
          }
        }

        .image {
          img {
            width: clamp(30px, 90vw, 600px);
          }
        }

        .works {
          width: clamp(30px, 90vw, 600px);
        }
      }
    }
  }
}

/*individual elements*/
.squared {
  border: solid 1px transparent;
  position: relative;

  &::before, &::after {
    box-sizing: border-box;
    content: '';
    height: 10px;
    position: absolute;
    width: 10px;
    border: solid 1px $white;
    transition: all .25s ease-in-out;
    pointer-events: none;
  }

  &::before {
    border-bottom: none;
    border-right: none;
    left: 0;
    top: 0;
  }

  &::after {
    border-left: none;
    border-top: none;
    bottom: 0;
    right: 0;
  }

  &:hover, &:hover > * {
    color: $yellow;
    cursor: pointer;
  }

  &:hover::before, &:hover::after {
    border-color: $yellow;
    height: 100%;
    width: 100%;
  }
}

.yellow {
  color: $yellow !important;
}

/* FORM */
#form {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-gap: $m1;

  input[type="text"] {
    grid-column: auto / span 1;
  }

  input[name="email"] {
    grid-column: auto / span 2;
  }

  textarea {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
    min-height: 150px;
  }

  p {
    grid-column: 1 / span 4;
    grid-row: auto / span 1;
  }

  .form__element--clickable, textarea.form__element--clickable {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: $white;
    padding: $m1 $m05;
    transition: all 0.25s ease-in-out;
    font-size: $s1;
    resize: none;
    font-family: "Raleway", sans-serif;
    background: lighten($black, 5%);

    &:focus {
      outline: none;
      border-color: $yellow;
      color: $yellow;
    }
  }

  .send {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    position: relative;

    #form_loading, #form_success {
      position: absolute;
      height: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      opacity: 0;
      transition: all 0.25s ease-in-out;

      svg {
        height: 100%;
      }
    }

    input[type="submit"] {
      font-family: "Raleway", sans-serif;
      height: 100%;
      width: 100%;
      padding: $m2 $m3;
      background: none;
      font-size: $s1;
      border: solid 2px $white;
      outline: none;
      color: $white;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: $yellow;
        border-color: $yellow;
      }

      &:disabled {
        color: $black;
        border-color: white;
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  li.header__li a {
    color: green !important;
  }
  @media screen and (orientation: landscape) {
    li.header__li a {
      color: red !important;
    }
  }
}

@keyframes max_top {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-2px);
  }
}