$white: #f6f6f6;
$black: #232323;
$yellow: #ffbf27;
$green: #00aa00;

$m0: 5px;
$m05: 10px;
$m1: 15px;
$m2: 30px;
$m3: 50px;
$m4: 100px;

$s0: 0.8rem;
$s1: 1rem;
$s2: 1.2rem;
$s3: 1.4rem;
$s4: 2rem;
$s5: 3rem;

$headerwidth: 7vw;